# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

# Instructions:
#  - Build: $ jupyter-book build .
#  - Build config: $ jupyter-book config sphinx .
#  - Build with sphinx: $ python -m sphinx -b html . _build/html
#  - Open index.html: open _build/html/index.html

title: Data-Driven Mathematical Optimization with AMPL in Python
author: The MO Book Group
copyright: "2024"
logo: media/logo-03.png
exclude_patterns: [.DS_Store, "**.ipynb_checkpoints", "**.pytest_cache", "tools"]

# Launch on Google Colab button
launch_buttons:
  notebook_interface: "classic"
  colab_url: "https://colab.research.google.com"

# only build files that appear in toc
only_build_toc_files: true

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: off

# Define the name of the latex output file for PDF builds
latex:
  latex_engine: pdflatex
  use_jupyterbook_latex: true
  latex_documents:
    targetname: MO-book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/ampl/mo-book.ampl.com  # Online location of your book
  branch: dev  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  favicon: media/cropped-favicon-raw-192x192.png
  use_issues_button: true
  use_repository_button: true
  use_multitoc_numbering: false
  home_page_in_navbar: true
  google_analytics_id: G-TB617QHPDG
  baseurl: https://ampl.com/mo-book/

sphinx:
  # extra_extensions:
  #  - sphinxcontrib.mermaid
  recursive_update: true
  config:
    templates_path: ["_templates"]
    html_theme_options:
      "article_header_end": ["article-header-buttons-ampl.html"]
